:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
  
}
.utrition{
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 900;
}